*{
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background-color: #E69A8DFF;
}

.header {
  padding: 3vh 0;
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.search {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 7vh;
  font-size: 1rem;
}

.search button {
  margin-left: 5px;
}

.search input {
  padding: 0.5vh 0;
}

.cityName {
  text-align: center;
  margin-top: 4vh;
}

.weatherInfo {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherCard {
  margin: 0 auto;
  padding: 6.5vh;
  background-color: #5F4B8BFF;
  border-radius: 40px;
  border: solid rgb(0, 0, 0, 0.2);
  width: 20%;
}

.weatherDetails {
  justify-content: center;
  text-align: center;
}

.weatherDetails h4 {
  margin-bottom: 3vh;
}

.weatherImg {
  margin-top: 4vh;
  display: flex;
  justify-content: space-around;
}

.colorKhaki {
  color: darkkhaki;
}